@import 'variables';

.skill-priority-report-card {
  @extend %base-card;
}

.skill-priority-report-skill-name {
  margin: 0;
  line-height: 40px;
}

.skill-priority-report-level-value {
  font-size: 24px;
}

.my-skills-toolbar {
  margin-bottom: $myskills-toolbar-margin-bottom;
}

.my-skills-new-error {
  @extend %base-error;
}
