@import 'variables';

.edit-project-form-field {
  width: 100%;
}

.edit-project-error {
  color: $myskills-error-message-text-color;
  font-size: 14px;
  margin-bottom: 16px;
  white-space: pre-wrap;
}

.edit-project-button {
  margin-right: 16px;
}
