<div class="permissions-settings-section">
  <p class="permissions-settings-explanation">All users listed in the following field will be able to view your
    relationships to skills including the corresponding levels and priorities.</p>
<app-authorized-users-select [users]="authorizedSkillsUsers" [placeholder]="'Users authorized to view my skills'"></app-authorized-users-select>
</div>
<mat-divider></mat-divider>

<div class="permissions-settings-section">
  <p class="permissions-settings-explanation">All users listed in the following field will be able to view your
    personal information.</p>
  <app-authorized-users-select [users]="authorizedProfileUsers" [placeholder]="'Users authorized to view my profile'"></app-authorized-users-select>
  <div class="permissions-allow-all">
    <mat-checkbox [formControl]="allowAll">Allow show my profile to all users</mat-checkbox>
  </div>
</div>

<mat-divider></mat-divider>
<div class="permissions-actions">
  <button mat-raised-button color="primary" [disabled]="savingInProgress" (click)="savePermissions()">Save
    permissions
  </button>
</div>
