@import 'variables';

.permissions-error {
  @extend %base-error;
}

.permissions-settings-section {
  margin-bottom: 16px;
}

.permissions-form-field {
  width: 100%;
}

.permissions-actions {
  margin-top: 16px;
}
