<div class="permissions-settings-section">
  <p class="permissions-settings-explanation">All users listed in the following field will be able to view your
    relationships to skills including the corresponding levels and priorities.</p>
<app-authorized-users-select [users]="authorizedSkillsUsers"></app-authorized-users-select>
</div>
<mat-divider></mat-divider>
<div class="permissions-actions">
  <button mat-raised-button color="primary" [disabled]="savingInProgress" (click)="savePermissions()">Save
    permissions
  </button>
</div>
