<div class="other-user-profiles mat-typography ">
  <h1>Other user skill profiles</h1>
  <div *ngIf="errorMessage" class="other-user-profiles-error">{{errorMessage}}</div>
  <div *ngIf="permissionOwners.length === 0">
    There are no users who granted permissions to you
  </div>
  <mat-card *ngFor="let user of permissionOwners" class="other-user-profiles-card">
    <mat-card-content>
      <div fxLayout="row">
        <div fxFlex="90%">
          <h2 class="other-user-profiles-name">{{ user.userName }}</h2>
        </div>
        <div fxFlex="10%">
          <a [routerLink]="[user.id, 'skills']">View skill profile</a>
        </div>
      </div>
      <div fxLayout="row">
        <div class="other-user-profiles-description-label">First Name:</div>
        <div>{{ user.firstName }}</div>
      </div>
      <div fxLayout="row">
        <div class="other-user-profiles-description-label">Last Name:</div>
        <div>{{ user.lastName }}</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
