<app-message-card>
  <div textContent>
    <div fxLayout="row">
      <div class="messages-description-label">Type:</div>
      <div>Acceptance to a community</div>
    </div>
    <div fxLayout="row">
      <div class="messages-description-label">Date:</div>
      <div>{{notification.creationDatetime | date:'dd.MM.yyyy HH:mm:ss'}}</div>
    </div>
    <div fxLayout="row">
      <div class="messages-description-label">Message:</div>
      <div *ngIf="notification.registration.community != null; else no_community_link_content"
           class="messages-message-text">Your request to join the community <a
        routerLink="/communities/{{notification.registration.community.id}}">{{notification.registration.community.title}}</a>
        was accepted
      </div>
      <ng-template #no_community_link_content>
        <div class="messages-message-text">Your request to join the community
          <strong>{{notification.communityName}}</strong> was accepted
        </div>
      </ng-template>
    </div>
  </div>
  <div buttonContent>
    <button mat-icon-button (click)="delete(notification)" title="Delete" aria-label="Delete">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</app-message-card>
