@import 'variables';

.user-profile-error {
  @extend %base-error;
}

.user-profile-form {
  width: 100%;
}

.user-profile-form-field {
  width: 100%;
}

.user-profile-settings-section {
  margin-top: 16px;
  margin-bottom: 16px;
}

.user-profile-settings-explanation {
  margin-bottom: 16px;
}

.user-profile-actions {
  margin-top: 16px;
}

.user-profile-testimonials-section {
  margin-top: 16px;
}

.user-profile-expansion-panel {
  margin-bottom: 10px;
}
