<div class="user-profile mat-typography ">
  <h1>User profile</h1>
  <div *ngIf="errorMessage" class="user-profile-error">{{ errorMessage }}</div>
  <div *ngIf="dataAvailable" fxLayoutAlign="center center">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-profile-form">
      <div fxLayout="column">
        <div fxFlex>
          <mat-form-field class="user-profile-form-field">
            <input matInput placeholder="First Name" formControlName="firstName" [readonly]="true">
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field class="user-profile-form-field">
            <input matInput placeholder="Last Name" formControlName="lastName" [readonly]="true">
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field class="user-profile-form-field">
            <input matInput placeholder="User Name" formControlName="userName" [readonly]="true">
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field class="user-profile-form-field">
            <input matInput placeholder="E-mail address" formControlName="email" [readonly]="true">
          </mat-form-field>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="user-profile-settings-section">
        <p class="user-profile-settings-explanation">By enabling the following option you agree that other users can find you as a potential coach for specific skills you have in your profile.</p>
        <mat-checkbox formControlName="coach">I agree to be shown as coach to other users</mat-checkbox>
      </div>
      <mat-divider></mat-divider>
      <div class="user-profile-settings-section">
        <p class="user-profile-settings-explanation">All users listed in the following field will be able to view your relationships to skills including the corresponding levels and priorities.</p>
        <mat-form-field class="user-profile-form-field">
          <mat-chip-list #authorizedUsersChipList>
            <mat-chip *ngFor="let authorizedUser of authorizedUsers"
              selectable="true" removable="true"
              (removed)="onAuthorizedUserRemoved(authorizedUser)">
              {{ authorizedUser.firstName }} {{ authorizedUser.lastName }} ({{ authorizedUser.userName }})
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Users authorized to view my skills" #authorizedUsersInput
              [formControl]="authorizedUsersControl"
              [matAutocomplete]="authorizedUsersAutocomplete"
              [matChipInputFor]="authorizedUsersChipList"
              matChipInputAddOnBlur="true">
          </mat-chip-list>
          <mat-autocomplete #authorizedUsersAutocomplete="matAutocomplete"
            (optionSelected)="onAuthorizedUserSuggestionSelected($event)">
            <mat-option *ngFor="let authorizedUser of authorizedUserSuggestions$ | async" [value]="authorizedUser">
              {{ authorizedUser.firstName }} {{ authorizedUser.lastName }} ({{ authorizedUser.userName }})
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="user-profile-actions">
        <button mat-raised-button color="primary" type="submit">Save settings</button>
      </div>
    </form>
  </div>
</div>
