<mat-card>
  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex>
        <div class="user-projects-card__heading">
          <h2>{{ userProject.project.name }}</h2>
          <span *ngIf="!userProject.approved" class="material-icons user-projects-require-approval" title="Requires approval">error_outline</span>
        </div>
      </div>
      <div fxFlex="none">
        <ng-content select="[buttonContent]"></ng-content>
      </div>
    </div>
    <div fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row">
        <div class="user-projects-description-label">Role:</div>
        <div>{{ userProject.role ? userProject.role : 'N/A' }}</div>
      </div>
      <div fxLayout="row">
        <div class="user-projects-description-label">Tasks:</div>
        <div>{{ userProject.tasks ? userProject.tasks : 'N/A' }}</div>
      </div>
      <div fxLayout="row">
        <div class="user-projects-description-label">Start date:</div>
        <div>{{ userProject.startDate | date : 'dd/MM/yyyy' }}</div>
      </div>
      <div fxLayout="row">
        <div class="user-projects-description-label">End date:</div>
        <div>{{ userProject.endDate ? (userProject.endDate | date : 'dd/MM/yyyy') : 'N/A' }}</div>
      </div>
      <div fxLayout="row">
        <div class="user-projects-description-label user-projects-skill-label">Skills:</div>
        <mat-chip-list>
          <mat-chip *ngFor="let skill of userProject.skills">{{ skill.name }}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </mat-card-content>
</mat-card>
