language: node_js

node_js:
  - "10"

addons:
  sonarcloud:
    organization: "t-systems-mms"
    token:
      secure: $SONAR_TOKEN
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

cache:
  directories:
    - ./node_modules

install:
  - npm install
  - npm install codecov

script:
  - npm run test -- --watch=false --progress=false --browsers=ChromeHeadlessCI --code-coverage && sonar-scanner
  - codecov
  #- npm run e2e -- --protractor-config=./e2e/protractor-ci.conf.js
