<app-message-card>
  <div textContent>
    <div fxLayout="row">
      <div class="messages-description-label">Type:</div>
      <div>Request to join a community</div>
    </div>
    <div fxLayout="row">
      <div class="messages-description-label">Date:</div>
      <div>{{notification.creationDatetime | date:'dd.MM.yyyy HH:mm:ss'}}</div>
    </div>
    <div fxLayout="row">
      <div class="messages-description-label">Status:</div>
      <div>{{getStatusText()}}</div>
    </div>
    <div fxLayout="row">
      <div class="messages-description-label">Message:</div>
      <div *ngIf="notification.registration.community != null; else no_community_link_content"
           class="messages-message-text">The
        user {{notification.registration.user.firstName}} {{notification.registration.user.lastName}} has requested to
        join community <a
          routerLink="/communities/{{notification.registration.community.id}}">{{notification.registration.community.title}}</a>
      </div>
      <ng-template #no_community_link_content>
        <div class="messages-message-text">The
          user {{notification.registration.user.firstName}} {{notification.registration.user.firstName}} has
          requested to join community <strong>{{notification.communityName}}</strong></div>
      </ng-template>
    </div>
  </div>
  <div buttonContent>
   <span *ngIf="showAcceptDeclineButtons()">
    <button mat-icon-button (click)="onAccept()" title="Accept" aria-label="Accept">
      <mat-icon>done_outline</mat-icon>
    </button>
    <button mat-icon-button (click)="onDecline()" title="Decline" aria-label="Decline">
      <mat-icon>cancel</mat-icon>
    </button>
  </span>
  </div>
</app-message-card>
