<div *ngIf="errorMessage" class="my-project-new-dialog__error-message">{{errorMessage}}</div>
<form fxLayout="column" fxLayoutGap="10px" [formGroup]="formGroup">
  <mat-form-field>
    <input [matAutocomplete]="projectAutoComplete"
           #projectInput
           formControlName="projectName"
           type="text"
           matInput
           [required]="true"
           placeholder="Project name">
    <mat-autocomplete #projectAutoComplete="matAutocomplete" >
      <mat-option *ngFor="let project of projects$ | async" [value]="project.name">
        {{ project.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div>
    <app-skill-select-input [parentForm]="formGroup"></app-skill-select-input>
  </div>
  <mat-form-field>
    <input matInput type="text" placeholder="Role" formControlName="role">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Tasks" formControlName="tasks">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="startDatePicker" placeholder="Start date" formControlName="startDate" [required]="true">
    <mat-error *ngIf="formGroup.controls.startDate.hasError('required')">Start date is mandatory.</mat-error>
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="endDatePicker" placeholder="End date" formControlName="endDate">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-error *ngIf="formGroup.hasError('inconsistent dates')">
    Start and end date of the project are inconsistent.
  </mat-error>
  <div fxLayout="row" fxLayoutGap="20px">
    <button
      mat-raised-button
      color="primary"
      (click)="assignUserProject()"
      [disabled]="formGroup.invalid || formGroup.pristine"
      aria-label="Assign project">
      Assign project
    </button>
    <button
      mat-raised-button
      (click)="close()"
      aria-label="Close">
      Close
    </button>
  </div>
</form>
