<div class="mat-typography">
  <h1>My projects</h1>
  <div class="my-projects-toolbar">
    <button mat-raised-button (click)="openNewDialog()" aria-label="Assign project">Assign project</button>
  </div>

  <div *ngIf="errorMessage" class="my-projects-error-message">{{errorMessage}}</div>

  <mat-card *ngFor="let userProject of userProjects$ | async" class="my-projects-card">
    <mat-card-content>
      <div fxLayout="row">
        <div fxFlex>
          <h2 class="my-projects-card__heading">{{ userProject.project.name }}</h2>
        </div>
        <div fxFlex="none">
          <button mat-icon-button (click)="openEditDialog(userProject)" title="Edit" aria-label="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="delete(userProject)" title="Delete" aria-label="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row">
          <div class="my-projects-description-label">Role:</div>
          <div>{{ userProject.role ? userProject.role : 'N/A' }}</div>
        </div>
        <div fxLayout="row">
          <div class="my-projects-description-label">Tasks:</div>
          <div>{{ userProject.tasks ? userProject.tasks : 'N/A' }}</div>
        </div>
        <div fxLayout="row">
          <div class="my-projects-description-label">Start date:</div>
          <div>{{ userProject.startDate | date : 'dd/MM/yyyy' }}</div>
        </div>
        <div fxLayout="row">
          <div class="my-projects-description-label">End date:</div>
          <div>{{ userProject.endDate ? (userProject.endDate | date : 'dd/MM/yyyy') : 'N/A' }}</div>
        </div>
        <div fxLayout="row">
          <div class="my-projects-description-label publications-skill-label">Skills:</div>
          <mat-chip-list>
            <mat-chip *ngFor="let skill of userProject.skills">{{ skill.name }}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
