<div class="mat-typography">
  <h1>My projects</h1>
  <div class="my-projects-toolbar">
    <button mat-raised-button (click)="openNewDialog()" aria-label="Assign project">Assign project</button>
  </div>

  <div *ngIf="errorMessage" class="my-projects-error-message">{{errorMessage}}</div>

  <app-user-project-card [userProject]="userProject" *ngFor="let userProject of userProjects$ | async" class="my-projects-card">
    <div buttonContent>
      <button mat-icon-button (click)="openEditDialog(userProject)" title="Edit" aria-label="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="delete(userProject)" title="Delete" aria-label="Delete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </app-user-project-card>
</div>
