@import "variables";

.my-projects-toolbar {
  margin-bottom: $myskills-toolbar-margin-bottom;
}

.my-projects-card {
  @extend %base-card;
}

.my-projects-error-message {
  @extend %base-error;
}

.my-projects-description-label {
  font-weight: 500;
  margin-right: 0.5em;
}
