<div class="mat-typography">
  <h1>My messages</h1>
  <div *ngIf="errorMessage" class="messages-error-message">{{errorMessage}}</div>

  <div *ngFor="let notification of notifications$ | async">
    <div [ngSwitch]="notification.type">
      <div *ngSwitchCase="'InvitationToJoinCommunityNotification'" class="message-card">
        <app-community-invitation-message-card [notification]="notification" [currentUserId]="currentUserId"
                                               (processed)="onSuccessDeleted()"
                                               (error)="handleErrorResponse($event)"></app-community-invitation-message-card>
      </div>
      <div *ngSwitchCase="'RequestToJoinCommunityNotification'" class="message-card">
        <app-community-join-request-message-card [notification]="notification" [currentUserId]="currentUserId"
                                                 (processed)="onSuccessDeleted()"
                                                 (error)="handleErrorResponse($event)"></app-community-join-request-message-card>
      </div>
      <div *ngSwitchCase="'UserLeftCommunityNotification'" class="message-card">
        <app-community-left-message-card [notification]="notification" (deleted)="onSuccessDeleted()"
                                         (error)="handleErrorResponse($event)"></app-community-left-message-card>
      </div>
      <div *ngSwitchCase="'CommunityUserRoleChangedNotification'" class="message-card">
        <app-community-role-changed-message-card [notification]="notification" (deleted)="onSuccessDeleted()"
                                                 (error)="handleErrorResponse($event)"></app-community-role-changed-message-card>
      </div>
      <div *ngSwitchCase="'CommunityChangedNotification'" class="message-card">
        <app-community-changed-message-card [notification]="notification" (deleted)="onSuccessDeleted()"
                                            (error)="handleErrorResponse($event)"></app-community-changed-message-card>
      </div>
      <div *ngSwitchCase="'UserKickedOutFromCommunityNotification'" class="message-card">
        <app-community-kick-out-message-card [notification]="notification" (deleted)="onSuccessDeleted()"
                                             (error)="handleErrorResponse($event)"></app-community-kick-out-message-card>
      </div>
      <div *ngSwitchCase="'CommunityDeletedNotification'" class="message-card">
        <app-community-deleted-message-card [notification]="notification" (deleted)="onSuccessDeleted()"
                                            (error)="handleErrorResponse($event)"></app-community-deleted-message-card>
      </div>
      <div *ngSwitchCase="'AcceptanceToCommunityNotification'" class="message-card">
        <app-community-acceptance-message-card [notification]="notification" (deleted)="onSuccessDeleted()"
                                               (error)="handleErrorResponse($event)"></app-community-acceptance-message-card>
      </div>
      <div *ngSwitchCase="'UserWelcomeNotification'" class="message-card">
        <app-welcome-message-card [notification]="notification" (deleted)="onSuccessDeleted()"
                                  (error)="handleErrorResponse($event)"></app-welcome-message-card>
      </div>
      <div *ngSwitchCase="'UserSkillsEstimationNotification'" class="message-card">
        <app-skills-estimation-message-card [notification]="notification" (deleted)="onSuccessDeleted()"
                                  (error)="handleErrorResponse($event)"></app-skills-estimation-message-card>
      </div>
    </div>
  </div>
</div>
