<div class="mat-typography">
  <h1>My messages</h1>
  <!--<div *ngIf="errorMessage" class="messages-error-message">{{errorMessage}}</div>-->

  <mat-card *ngFor="let message of messages$ | async" class="messages-card">
    <div>
      <div fxFlex>
        <div fxLayout="row">
          <div class="messages-description-label">Type:</div>
          <div>{{message.type}}</div>
        </div>
        <div fxLayout="row">
          <div class="messages-description-label">Date:</div>
          <div>{{message.creationDatetime | date:'dd.MM.yyyy HH:mm:ss'}}</div>
        </div>
        <div fxLayout="row">
          <div class="messages-description-label">Community:</div>
          <div *ngIf="hasJoinRequestType(message); then join_content else notification_content"></div>
        </div>
        <ng-template #join_content>
          <a [routerLink]="['/communities', message.registration.community.id]">{{message.registration.community.title}}</a>
        </ng-template>
        <ng-template #notification_content>
          <!--<a [routerLink]="['/communities', message.community.id]">{{message.community.title}}</a>-->
        </ng-template>
        <div fxLayout="row" *ngIf="message.type === 'REQUEST_TO_JOIN_COMMUNITY'">
          <div class="messages-description-label">User:</div>
          <div>{{message.registration.user.firstName}} {{message.registration.user.lastName}}</div>
        </div>
        <div fxLayout="row" *ngIf="hasJoinRequestType(message)">
          <div class="messages-description-label">Status:</div>
          <div>{{getStatusText(message)}}</div>
        </div>
      </div>
      <div fxFlex="none">
        <a [routerLink]="[message.id]"
           mat-icon-button title="View message" aria-label="View message">
          <mat-icon>visibility</mat-icon>
        </a>
        <span *ngIf="showAcceptDeclineButtons(message)">
          <button mat-icon-button (click)="onAccept(message)" title="Accept" aria-label="Accept">
            <mat-icon>done_outline</mat-icon>
          </button>
          <button mat-icon-button (click)="onDecline(message)" title="Decline" aria-label="Decline">
            <mat-icon>cancel</mat-icon>
          </button>
        </span>
      </div>
    </div>
  </mat-card>
</div>
