@import 'variables';

.skill-priority-statistics-card-content {
  margin-bottom: 0;
}

.skill-priority-statistics-skill-name {
  margin: 0;
  line-height: 40px;
}

.skill-priority-statistics-level-value {
  font-size: 24px;
}
