<form [formGroup]="projectForm" class="projects-new-form">
  <div *ngIf="errorMessage" class="projects-new-error">{{errorMessage}}</div>
  <div fxLayout="column">
    <div fxFlex>
      <mat-form-field class="projects-new-form-field">
        <input matInput id="projects-new-name" placeholder="Name" formControlName="name" [required]="true">
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="projects-new-form-field">
        <input matInput placeholder="Customer" formControlName="customer">
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="projects-new-form-field">
        <input matInput placeholder="Industry sector" formControlName="industrySector">
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="projects-new-form-field">
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>
    </div>
  </div>
  <div>
    <button mat-raised-button id="project-new-button" color="primary" (click)="createProject()" [disabled]="!projectForm.valid || savingInProgress" class="project-new-actions">Create project</button>
    <button mat-raised-button (click)="close()" aria-label="Close" class="project-new-actions">Close</button>
  </div>
</form>
