@import 'variables';

.project-error {
  @extend %base-error;
}

.projects-card {
  @extend %base-card;
}

.projects-name {
  margin: 0;
  line-height: 40px;
}

.projects-description-label {
  @extend %base-description-label;
}

.projects-toolbar {
  margin-bottom: $myskills-toolbar-margin-bottom;
}

.projects-filter {
  margin-left: 15px;
}
