<app-message-card>
  <div textContent>
    <div fxLayout="row">
      <div class="messages-description-label">Type:</div>
      <div>Project membership requires approval</div>
    </div>
    <div fxLayout="row">
      <div class="messages-description-label">Date:</div>
      <div>{{notification.creationDatetime | date:'dd.MM.yyyy HH:mm:ss'}}</div>
    </div>
    <div fxLayout="row">
      <div class="messages-description-label">Message:</div>
      <div class="messages-message-text">You need to approve project memberships of <a
        routerLink="/my-subordinates/{{notification.userProject.user.id}}/project-memberships">{{notification.userProject.user.firstName}} {{notification.userProject.user.lastName}}</a>
      </div>
    </div>
  </div>
  <div buttonContent>
    <button mat-icon-button (click)="delete(notification)" title="Delete" aria-label="Delete">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</app-message-card>
