<div class="my-skills-new" (keypress)="onKeyPress($event)">
  <div *ngIf="errorMessage" class="my-skills-new-error">{{errorMessage}}</div>
  <div>
    <mat-form-field class="my-skills-new-form-field">
      <input #skillGroupNameInput type="text" id="my-skills-new-skill-name" matInput [formControl]="groupName" placeholder="Skill group name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="my-skills-new-form-field">
      <input type="text" id="my-skills-new-skill-name" matInput [formControl]="groupDescription" placeholder="Skill group description">
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="editGroup()" [disabled]="operationInProgress || groupName.invalid"
      aria-label="Add skill group" class="my-skills-new-button">Update skill group</button>
    <button mat-raised-button (click)="close()" aria-label="Close" class="my-skills-new-button">Close</button>
  </div>
</div>
