@import 'variables';

.my-skills-toolbar {
  margin-bottom: 16px;
}

.my-skills-card {
  margin-bottom: 8px;
  padding: 8px 16px;
}

.my-skills-skill-name {
  margin: 0;
  line-height: 40px;
}

.my-skills-level-value {
  font-size: 24px;
}

.my-skills-coaches {
  line-height: 24px;
}

.my-skills-coaches-icon {
  margin-right: 8px;
}

.my-skills-new-error {
  color: $myskills-error-message-text-color;
  font-size: 14px;
  margin-bottom: 16px;
  white-space: pre-wrap;
}

.my-skills-description-label {
  font-weight: 550;
  margin-right: 0.5em;
}
