<form [formGroup]="communityForm" class="communities-new-form">
  <div *ngIf="errorMessage" class="communities-new-error">{{errorMessage}}</div>
  <div fxLayout="column">
    <div fxFlex>
      <mat-form-field class="communities-new-form-field">
        <input matInput id="communities-new-title" placeholder="Title" formControlName="title" [required]="true">
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="communities-new-form-field">
        <input matInput placeholder="Description" formControlName="description" [required]="true">
      </mat-form-field>
    </div>
  </div>
  <div>
    <button mat-raised-button id="communities-new-button" color="primary" (click)="createCommunity()"
            [disabled]="!communityForm.valid" class="communities-new-actions">Create community
    </button>
    <button mat-raised-button (click)="close()" aria-label="Close" class="communities-new-actions">Close</button>
  </div>
</form>
