@import "variables";

.communities-toolbar {
  margin-bottom: $skoop-toolbar-margin-bottom;
}

.communities-error-message {
  @extend %base-error;
}

.communities-filter {
  margin-left: 15px;
}

.communities-recommended-section {
  margin-bottom: 20px;
}
