@import 'variables';

.communities-edit-form-field {
  width: 100%;
}

.communities-edit-error {
  color: $myskills-error-message-text-color;
  font-size: 14px;
  margin-bottom: 16px;
  white-space: pre-wrap;
}

.communities-edit-actions {
  margin-right: 16px;
}

.communities-edit-href {
  width: 95%;
  margin-left: 15px;
}

.communities-link-toolbar {
  margin-top: 16px;
  margin-bottom: 16px;
}

.communities-link-card {
  margin-bottom: 8px;
  padding: 8px 16px;
}

.communities-edit-remove-link {
  padding-top: 10px;
}
