@import "variables";

.communities-toolbar {
  margin-bottom: $myskills-toolbar-margin-bottom;
}

.communities-card {
  @extend %base-card;
}

.communities-error-message {
  @extend %base-error;
}

.communities-filter {
  margin-left: 15px;
}

.communities-description-label {
  @extend %base-description-label;
}

.communities-skill-label {
  padding-top: 5px;
}
