@import "variables";

.communities-toolbar {
  margin-bottom: 16px;
}

.communities-card {
  margin-bottom: 8px;
  padding: 8px 16px;
}

.communities-error-message {
  color: $myskills-error-message-text-color;
  font-size: 14px;
  margin-bottom: 16px;
  white-space: pre-wrap;
}

.communities-filter {
  margin-left: 15px;
}

.communities-description-label {
  font-weight: 550;
  margin-right: 0.5em;
}

.communities-skill-label {
  padding-top: 5px;
}
