@import 'variables';

.communities-new-form-field {
  width: 100%;
}

.communities-new-error {
  @extend %base-error;
}

.communities-new-actions {
  margin-right: 16px;
}

.communities-new-href {
  width: 95%;
  margin-left: 15px;
}

.communities-link-toolbar {
  margin-top: 16px;
  margin-bottom: $skoop-toolbar-margin-bottom;
}

.communities-link-card {
  @extend %base-card;
}

.communities-new-remove-link {
  padding-top: 10px;
}

.communities-new-type {
  margin-left: 15px;
}

.communities-new-type-option.mat-button-toggle-checked {
  background-color: #3f51b5;
  color: #fff;
}

.communities-new-invitation-section {
  margin-top: 15px;
}
