<div class="mat-typography">
  <h1>Search users by skills</h1>
  <div *ngIf="errorMessage" class="search-users-error-message">{{errorMessage}}</div>
  <app-search-user-form (criteriaChangedEvent)="onCriteriaChanged()" (errorOccurredEvent)="onError($event)"
                        (usersFoundEvent)="onUsersFound($event)"></app-search-user-form>
  <div class="search-users-result" *ngIf="showSearchResult">
    <mat-divider></mat-divider>
    <app-search-user-results [userSkills]="userSkills" (errorOccurredEvent)="onError($event)"></app-search-user-results>
  </div>
</div>
