<div class="mat-typography">
  <h1>Search users by skills</h1>
  <div [formGroup]="form">
    <div formArrayName="criteriaList">
      <mat-card *ngFor="let criteria of criteriaList.controls; let i = index;">
        <mat-card-content [formGroupName]="i">
          <div fxLayout="row">
            <div fxFlex="33%">
              <mat-form-field>
                <mat-select placeholder="Please select a skill">
                  <mat-option *ngFor="let skill of skills$ | async" [value]="skill.id">
                    {{skill.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="33%">
              <label>Minimum skill level</label>
              <mat-slider
                min="0"
                max="4"
                step="1"
                value="0"
                thumbLabel
                tickInterval="1"
                [formControlName]="level"
                class="skillLevel__formField">
              </mat-slider>
            </div>
            <div fxFlex="33%">
              <button mat-icon-button type="button" (click)="removeCriteria(i)"
                      [disabled]="criteriaList.controls.length === 1" aria-label="Remove">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <button type="button" (click)="addCriteria()">Add criteria</button>
    </div>
  </div>
</div>

