@import 'variables';

.my-skills-toolbar {
  margin-bottom: $myskills-toolbar-margin-bottom;
}

.my-skills-card {
  @extend %base-card;
}

.my-skills-skill-name {
  margin: 0;
  line-height: 40px;
}

.my-skills-level-value {
  font-size: 24px;
}

.my-skills-coaches {
  line-height: 24px;
}

.my-skills-coaches-icon {
  margin-right: 8px;
}

.my-skills-new-error {
  @extend %base-error;
}

.my-skills-description-label {
  @extend %base-description-label;
}
