@import 'variables';

.skoop-toolbar {
  margin-bottom: $skoop-toolbar-margin-bottom;
}

.skoop-card {
  @extend %base-card;
}

.skoop-skill-name {
  margin: 0;
  line-height: 40px;
}

.skoop-coaches {
  line-height: 24px;
}

.skoop-new-error {
  @extend %base-error;
}

.skoop-description-label {
  @extend %base-description-label;
}
