<div class="skoop-new" (keypress)="onKeyPress($event)">
  <div *ngIf="errorMessage" class="skoop-new-error">{{errorMessage}}</div>
  <div>
    <mat-form-field class="skoop-new-form-field">
      <input #skillNameInput type="text" id="skoop-new-skill-name" matInput [formControl]="skillName" placeholder="Skill name">
      <mat-error *ngIf="skillName.hasError('required')">Skill name is Mandetory</mat-error>
      <mat-error *ngIf="skillName.hasError('minlength')">Put in at least 3 characters, please</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="skoop-new-form-field">
      <input type="text" id="skoop-new-skill-name" matInput [formControl]="skillDescription" placeholder="Skill description">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="skoop-new-form-field">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let group of selectedGroups" [selectable]="selectable" [removable]="removable" (removed)="remove(group)">
          {{group }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input #groupInput [formControl]="groupCtrl" placeholder="New group..." [matAutocomplete]="auto"
          [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur">
      </mat-chip-list>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let group of groupSuggestions$ | async" [value]="group">
          {{ group }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="editSkill()" [disabled]="operationInProgress || skillName.invalid"
      aria-label="Add skill" class="skoop-new-button">Update skill</button>
    <button mat-raised-button (click)="close()" aria-label="Close" class="skoop-new-button">Close</button>
  </div>
</div>
