<div class="my-skills mat-typography">
  <h1>Skill management</h1>
  <div class="my-skills-toolbar">
    <button mat-raised-button (click)="openNewDialog()" aria-label="Add skill">Add skill</button>
    <mat-form-field style="margin-left: 15px;">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <!-- TODO: Searching, filtering and sorting elements could be added here -->
  </div>
  <div *ngIf="errorMessage" class="my-skills-new-error">{{errorMessage}}</div>
  <mat-card *ngFor="let skill of (skillsFiltered ? skillsFiltered : skills)" class="my-skills-card">
    <mat-card-content>
      <div fxLayout="row">
        <div fxFlex>
          <h2 class="my-skills-skill-name">{{ skill.name }}</h2>
        </div>
        <div fxFlex="none">
          <button mat-icon-button (click)="openEditDialog(skill)" title="Edit" aria-label="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="delete(skill)" title="Delete" aria-label="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div fxLayout="row">
        <div class="my-skills-description-label">Description:</div>
        <div>{{ skill.description }}</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>