<mat-toolbar class="toolbar" color="primary">
  <button *ngIf="isHandset$ | async" (click)="drawer.toggle()" type="button" mat-icon-button aria-label="Toggle navigation">
    <mat-icon aria-label="Navigation toggle icon">menu</mat-icon>
  </button>
  <span class="toolbar__title">MySkills</span>
  <span class="toolbar__spacer"></span>
  <span class="toolbar__username">{{ (userIdentity$ | async)?.userName }}</span>
  <button [matMenuTriggerFor]="menu" type="button" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/user-profile" mat-menu-item>
      <mat-icon>edit</mat-icon>
      <span>My Profile</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container class="sidenavContainer"
                       ngClass.lt-sm="sidenavContainer--mobile"
                       ngClass.gt-xs="sidenavContainer--desktop">
  <mat-sidenav #drawer
               class="sidenavContainer__drawer"
               ngClass.lt-sm="sidenavContainer__drawer--mobile"
               ngClass.gt-xs="sidenavContainer__drawer--desktop"
               fixedInViewport="true"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'">
    <mat-nav-list>
      <a routerLink="/my-skills" routerLinkActive="active" (click)="onNavItemClick()" mat-list-item>
        My skill profile
      </a>
      <a routerLink="/my-projects" routerLinkActive="active" (click)="onNavItemClick()" mat-list-item>
        My projects
      </a>
      <a routerLink="/statistics/skill-priority" routerLinkActive="active" (click)="onNavItemClick()" mat-list-item>
        Skill priority statistics
      </a>
      <a routerLink="/reports/skill-priority-reports" routerLinkActive="active" (click)="onNavItemClick()" mat-list-item>
        Skill priority reports
      </a>
      <a routerLink="/skills" routerLinkActive="active" (click)="onNavItemClick()" mat-list-item>
        Skill management
      </a>
      <a routerLink="/groups" routerLinkActive="active" (click)="onNavItemClick()" mat-list-item>
        Skill group management
      </a>
      <a routerLink="/projects" routerLinkActive="active" (click)="onNavItemClick()" mat-list-item>
        Projects management
      </a>
      <a routerLink="/other-users" routerLinkActive="active" (click)="onNavItemClick()" mat-list-item>
        Other Users Skill Profiles
      </a>
      <a routerLink="/search-users" routerLinkActive="active" (click)="onNavItemClick()" mat-list-item>
        Search users by skills
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenavContainer__content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
