.toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
}

.toolbar__spacer {
  flex: 1 1 auto;
}

.sidenavContainer {
  height: 100%;
}

.sidenavContainer--mobile {
  padding-top: 56px;
}

.sidenavContainer--desktop {
  padding-top: 64px;
}

.sidenavContainer__drawer {
  width: 200px;
}

.sidenavContainer__drawer--mobile {
  padding-top: 56px;
}

.sidenavContainer__drawer--desktop {
  padding-top: 64px;
}

.sidenavContainer__content {
  padding: 8px 16px;
}

a.active {
  color: chocolate;
}
