<div class="mySkills mat-typography">
  <h1>My skill profile</h1>
  <div class="mySkillsToolbar">
    <button mat-raised-button (click)="openNewDialog()" aria-label="Add skill">Add skill</button>
    <!-- TODO: Searching, filtering and sorting elements could be added here -->
  </div>
  <div *ngIf="errorMessage" class="mySkillsErrorMessage">{{errorMessage}}</div>

  <app-skill-card *ngFor="let userSkill of userSkills" [userSkill]="userSkill">
    <div fxFlex="none" buttonContent>
      <button mat-icon-button (click)="getCoaches(userSkill)" title="Find coaches" aria-label="Find coaches"
              class="mySkillsCard__findCoachesButton">
        <mat-icon>school</mat-icon>
      </button>
      <button mat-icon-button (click)="openEditDialog(userSkill)" title="Edit" aria-label="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="delete(userSkill)" title="Delete" aria-label="Delete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </app-skill-card>
</div>
