<div class="my-skills-edit" (keypress)="onKeyPress($event)">
  <div *ngIf="errorMessage" class="my-skills-edit-error">{{ errorMessage }}</div>
  <h2>{{ userSkill.skill.name }}</h2>
  <div fxLayout="row">
    <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center">
      <label for="currentLevel">Current level:</label>
    </div>
    <div fxFlex>
      <mat-slider id="currentLevel" min="0" max="4" step="1" thumbLabel tickInterval="1" [formControl]="currentLevel" class="my-skills-edit-form-field"></mat-slider>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center">
      <label for="desiredLevel">Desired level:</label>
    </div>
    <div fxFlex>
      <mat-slider id="desiredLevel" min="0" max="4" step="1" thumbLabel tickInterval="1" [formControl]="desiredLevel" class="my-skills-edit-form-field"></mat-slider>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center">
      <label for="priority">Priority:</label>
    </div>
    <div fxFlex>
      <mat-slider id="priority" min="0" max="4" step="1" thumbLabel tickInterval="1" [formControl]="priority" class="my-skills-edit-form-field"></mat-slider>
    </div>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="saveUserSkill()" [disabled]="operationInProgress" aria-label="Save skill"
      class="my-skills-edit-button">Save skill</button>
    <button mat-raised-button (click)="close()" aria-label="Cancel" class="my-skills-edit-button">Cancel</button>
  </div>
</div>
