<div class="mySkills mat-typography">
  <h1>My skill profile</h1>
  <div class="mySkillsToolbar">
    <button mat-raised-button (click)="openNewDialog()" aria-label="Add skill">Add skill</button>
    <!-- TODO: Searching, filtering and sorting elements could be added here -->
  </div>
  <div *ngIf="errorMessage" class="mySkillsErrorMessage">{{errorMessage}}</div>

  <app-skill-card *ngFor="let userSkill of userSkills" [userSkill]="userSkill">
    <div fxFlex="none" buttonContent>
      <button *ngIf="userSkill.favourite; else mark_as_favorite_content" mat-icon-button
              (click)="removeFromFavorites(userSkill)" title="Remove from favorites" aria-label="Remove from favorites">
        <mat-icon>star</mat-icon>
      </button>
      <ng-template #mark_as_favorite_content>
        <button mat-icon-button (click)="markAsFavorite(userSkill)" title="Mark as favorite"
                aria-label="Mark as favorite">
          <mat-icon>star_border</mat-icon>
        </button>
      </ng-template>
      <button mat-icon-button (click)="getCoaches(userSkill)" title="Find coaches" aria-label="Find coaches"
              class="mySkillsCard__findCoachesButton">
        <mat-icon>school</mat-icon>
      </button>
      <button mat-icon-button (click)="openEditDialog(userSkill)" title="Edit" aria-label="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="delete(userSkill)" title="Delete" aria-label="Delete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div fxLayout="row" *ngIf="userSkill.coaches" class="mySkillsCard__coaches" coachContent>
      <mat-icon fxFlex="none" aria-label="Coaches" class="mySkillsCard__coachesIcon">school</mat-icon>
      <div fxFlex *ngIf="userSkill.coaches.length === 0">No coaches found.</div>
      <div fxFlex="none" *ngFor="let coach of userSkill.coaches; last as isLast">
        {{ coach.firstName }} {{ coach.lastName }} ({{ coach.userName }})<span *ngIf="!isLast">,&nbsp;</span>
      </div>
    </div>
  </app-skill-card>
</div>
