<div class="recommended-communities">
  <div *ngIf="errorMessage" class="recommended-communities-error-message">{{errorMessage}}</div>
  <h2>Recommended communities</h2>
  <div class="recommended-communities-wrapper">
    <span *ngFor="let community of communities$ | async">
      <app-community-card [community]="community">
        <div fxFlex="none" buttonContent>
          <button mat-icon-button (click)="joinCommunity(community)" title="Join"
                  aria-label="Join">
              <mat-icon>group</mat-icon>
            </button>
          <a [routerLink]="[community.id]"
             mat-icon-button title="View community" aria-label="View community">
            <mat-icon>visibility</mat-icon>
          </a>
        </div>
      </app-community-card>
   </span>
  </div>
</div>
