<mat-card class="skoopCard">
  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex>
        <h2 class="skoopCard__heading">{{ userSkill.skill.name }}</h2>
      </div>
      <ng-content fxFlex="none" select="[buttonContent]"></ng-content>
    </div>
    <div fxLayout="row">
      <div fxFlex="33%">
        <div class="skoopCard__levelLabel">Current level:</div>
        <div>
          <mat-icon fxHide.lt-md="true" *ngFor="let level of [1,2,3,4]" aria-hidden="true">{{ (userSkill.currentLevel
            >= level) ? 'star' : 'star_border' }}</mat-icon>
          <span fxHide.gt-sm="true"
                class="skoopCard__levelValue skoopCard__currentLevelValue">{{ userSkill.currentLevel }}</span>
        </div>
      </div>
      <div fxFlex="33%">
        <div class="skoopCard__levelLabel">Desired level:</div>
        <div>
          <mat-icon fxHide.lt-md="true" *ngFor="let level of [1,2,3,4]" aria-hidden="true">{{ (userSkill.desiredLevel
            >= level) ? 'star' : 'star_border' }}</mat-icon>
          <span fxHide.gt-sm="true"
                class="skoopCard__levelValue skoopCard__desiredLevelValue">{{ userSkill.desiredLevel }}</span>
        </div>
      </div>
      <div fxFlex="33%">
        <div class="skoopCard__levelLabel">Priority:</div>
        <div>
          <mat-icon fxHide.lt-md="true" *ngFor="let level of [1,2,3,4]" aria-hidden="true">{{ (userSkill.priority >=
            level) ? 'star' : 'star_border' }}</mat-icon>
          <span fxHide.gt-sm="true"
                class="skoopCard__levelValue skoopCard__priorityValue">{{ userSkill.priority }}</span>
        </div>
      </div>
    </div>
    <ng-content select="[coachContent]"></ng-content>
  </mat-card-content>
</mat-card>

