.mySkillsCard {
  margin-bottom: 8px;
  padding: 8px 16px;
}

.mySkillsCard__heading {
  margin: 0;
  line-height: 40px;
}

.mySkillsCard__levelValue {
  font-size: 24px;
}

.mySkillsCard__coaches {
  line-height: 24px;
}

.mySkillsCard__coachesIcon {
  margin-right: 8px;
}
