@import 'variables';

.skillCard {
  @extend %base-card;
}

.skillCard__heading {
  margin: 0;
  line-height: 40px;
}

.skillCard__levelValue {
  font-size: 24px;
}

.skillCard__coaches {
  line-height: 24px;
}

.skillCard__coachesIcon {
  margin-right: 8px;
}
