@import 'variables';

.skoopCard {
  @extend %base-card;
}

.skoopCard__heading {
  margin: 0;
  line-height: 40px;
}

.skoopCard__levelValue {
  font-size: 24px;
}

.skoopCard__coaches {
  line-height: 24px;
}

.skoopCard__coachesIcon {
  margin-right: 8px;
}
