<app-message-card>
  <div textContent>
    <div fxLayout="row">
      <div class="messages-description-label">Type:</div>
      <div>Skills estimation</div>
    </div>
    <div fxLayout="row">
      <div class="messages-description-label">Date:</div>
      <div>{{notification.creationDatetime | date:'dd.MM.yyyy HH:mm:ss'}}</div>
    </div>
    <div fxLayout="row">
      <div class="messages-description-label">Message:</div>
      <div class="messages-message-text">You need to estimate
        the {{notification.skills.length > 1 ? 'skills' : 'skill'}} <strong>{{getAffectedSkills()}}</strong>. You can do
        this in the <a routerLink="/my-skills">My skill profile</a> page
      </div>
    </div>
  </div>
  <div buttonContent>
    <button mat-icon-button (click)="delete(notification)" title="Delete" aria-label="Delete">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</app-message-card>
