<form [formGroup]="membershipForm" class="memberships-edit-form">
  <div *ngIf="errorMessage" class="memberships-edit-error">{{errorMessage}}</div>
  <div fxLayout="column">
    <div fxFlex>
      <mat-form-field class="memberships-edit-form-field">
        <input matInput id="memberships-edit-title" placeholder="Organisation, web-site, blog, etc." formControlName="name" [required]="true">
      </mat-form-field>
    </div>
    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <mat-form-field class="publications-new-form-field">
        <input matInput [matDatepicker]="startDatePicker" [max]="membershipForm.controls.endDate.value"  placeholder="Start date" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="publications-new-form-field">
        <input matInput [matDatepicker]="endDatePicker" [min]="membershipForm.controls.startDate.value" [max]="maxDate"  placeholder="End date" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-error *ngIf="membershipForm.hasError('endDateCannotBeDefinedWithoutStartDate')">End date cannot be defined without start date.</mat-error>
    </div>
    <div fxFlex>
      <app-skill-select-input [parentForm]="membershipForm"></app-skill-select-input>
    </div>
    <div fxFlex>
      <mat-form-field class="memberships-edit-form-field">
        <textarea matInput placeholder="Description" formControlName="description" rows="8"></textarea>
      </mat-form-field>
    </div>
    <mat-form-field class="memberships-edit-form-field">
      <input matInput  placeholder="Web link" formControlName="link">
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button id="memberships-edit-button" color="primary" (click)="editMembership()"
            [disabled]="!membershipForm.valid || membershipForm.pristine" class="memberships-edit-actions">Edit membership
    </button>
    <button mat-raised-button (click)="close()" aria-label="Close" class="memberships-edit-actions">Close</button>
  </div>
</form>
