<form [formGroup]="projectForm" class="new-project-form">
  <div fxLayout="column">
    <div fxFlex>
      <mat-form-field class="new-project-form-field">
        <input matInput placeholder="Name" formControlName="name" [required]="true">
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="new-project-form-field">
        <input matInput placeholder="Customer" formControlName="customer">
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="new-project-form-field">
        <input matInput placeholder="Industry sector" formControlName="industrySector">
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="new-project-form-field">
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>
    </div>
  </div>
  <div class="new-project-actions">
    <button mat-raised-button color="primary" (click)="createProject()" [disabled]="!projectForm.valid">Create project</button>
    <button mat-raised-button (click)="close()" aria-label="Close" class="new-project-button">Close</button>
  </div>
</form>
