.skill-priority-statistics-card {
  margin-bottom: 8px;
  padding: 8px 16px;
}

.skill-priority-statistics-skill-name {
  margin: 0;
  line-height: 40px;
}

.skill-priority-statistics-level-value {
  font-size: 24px;
}
