@import 'variables';

.skillPriorityStatisticCard {
  @extend %base-card;
}

.skillPriorityStatisticCard__content {
  margin-bottom: 0;
}

.skillPriorityStatisticCard__skillName {
  margin: 0;
  line-height: 40px;
}

.skillPriorityStatisticCard__levelValue {
  font-size: 24px;
}
