@import "variables";

.invitation-dialog-form-field {
  width: 100%;
}

.invitation-dialog-actions {
  margin-right: 16px;
}

.invitation-dialog-error {
  @extend %base-error;
}

.invitation-dialog-recommended-users {
  margin-bottom: 15px;

  .invitation-dialog-recommended-users-label {
    margin-bottom: 5px;
  }
}
