@import "variables";

.community-error {
  @extend %base-error;
}

.community-column-members {
  margin-left: 65px;

  .community-label {
    margin-bottom: 5px;
  }
}

.community-label {
  @extend %base-description-label;
  margin-top: 15px;
}

.community-skill-label {
  margin-top: 7px;
}

.community-description {
  margin-top: 22px;
}

.community-links ul {
  margin-top: 3px;
}

.community-remove-member {
  position: absolute;
  right: 10px;
}

.members-not-available-label {
  @extend %base-description-label;
  margin-top: 15px;
}

.community-toolbar > button {
  margin-right: 15px;
}
