@import "variables";

.community-error {
  color: $myskills-error-message-text-color;
  font-size: 14px;
  margin-bottom: 16px;
  white-space: pre-wrap;
}

.community-column-members {
  margin-left: 65px;

  .community-label {
    margin-bottom: 5px;
  }
}

.community-label {
  font-weight: 550;
  margin-right: 0.5em;
  margin-top: 15px;
}

.community-skill-label {
  margin-top: 7px;
}

.community-description {
  margin-top: 22px;
}

.community-links ul {
  margin-top: 3px;
}
